body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 100px;
    width: 100px;
    border: 10px solid black;
    margin: 2rem;
    border-radius: 25%;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: #d19ff9
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}